/* chat interface */

.small-caps {
    font-variant: small-caps;
}

/*
 * markdown
 */

.message-content ol {
    list-style-type: decimal;
    padding-left: 40px;
}

.message-content ul {
    list-style-type: disc;
    padding-left: 40px;
}

.message-content pre {
    background-color: white;
    border: 1px solid #ddd;
    line-height: 1.2;
}

.message-content code {
    font-family: 'SourceCodePro', monospace;
    font-size: 12px;
    white-space: pre-wrap;
    margin: 0 !important;
}

.message-content *:not(:last-child) {
    margin-bottom: 10px;
}

.message-content pre > code {
    position: relative;
}
