/* record action */

#status > svg {
    stroke: none;
    fill: #3b82f6;
}

#status.recording > svg {
    fill: #ef4444;
}

#status.transcribing > svg {
    fill: #9ca3af;
}

/* hide scrollbar */

#output {
    scrollbar-width: none;
}

#output::-webkit-scrollbar {
    width: 0;
}
